Repository nlsg/sudo-q: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-puzzles, check-performance, sync-versions

validate-puzzles:
  name: Validate Example Puzzles
  entry: .venv/bin/python .pre-commit-hooks/validate_puzzles.py
  language: python

check-performance:
  name: Check Performance
  entry: .venv/bin/python .pre-commit-hooks/check-performance.py
  language: python

sync-versions:
  name: Sync Version Numbers
  entry: python .pre-commit-hooks/sync_versions.py
  language: python

impl. performance check hook
  .pre-commit-config.yaml
  .pre-commit-hooks/check-performance.py
Due: none

implemented documentation update hook
  .pre-commit-config.yaml
  .pre-commit-hooks/update_documentation.py
  README.md
  src/sudoq/protocols.py
Due: none

restrucured pre-commit setup
  .pre-commit-config.yaml
  scripts/check-performance.py
  scripts/sync_versions.py
  scripts/update_documentation.py
  scripts/validate_puzzles.py
Due: none

updated performance boundary
  scripts/check-performance.py
Due: none

achieved 100% test coverage for generation_tests
  tests/test_constructors.py
  tests/test_generation.py
Due: none

fixed NakedSubset implementation and its tests implemented NakedQuad with test
  src/sudoq/solvers/strategies.py
  tests/test_solving.py
Due: check-performance

removed chance of test failing in case where it shouldn't
  tests/test_generation.py
Due: none

implemented HiddenSubset and testcases for them
  src/sudoq/core.py
  src/sudoq/solvers/strategies.py
  tests/test_solving.py
Due: check-performance

renamed README-injection marker
  README.md
  scripts/update_documentation.py
Due: none

removed project-tree section
  README.md
Due: none

renamed markers
  README.md
Due: none

implemented example code injection
  README.md
  scripts/update_documentation.py
Due: none

updated_example and example-injection
  README.md
  examples/solving.py
  scripts/update_documentation.py
Due: none

renamed example
  examples/getting_started.py
  scripts/update_documentation.py
Due: none

impl docstring for Solvers
  src/sudoq/solvers/solvers.py
Due: check-performance

updateed example
  README.md
  examples/getting_started.py
Due: none

removed unused implementations
  src/sudoq/grid.py
  src/sudoq/solvers/strategies.py
Due: check-performance

fix package disovery
  pyproject.toml
Due: sync-versions

feat(grid): to_string serialization and rotation
  src/sudoq/grid.py
  tests/test_constructors.py
Due: none

feat(BacktrackingSolver) solve_step_hook:
  src/sudoq/generators/generators.py
  src/sudoq/solvers/solvers.py
Due: check-performance

feat(generators): max_clues
  src/sudoq/generators/generators.py
  tests/test_generation.py
Due: none

feat(generators): sequential reducer
  src/sudoq/generators/reducers.py
  tests/test_generation.py
Due: none

feat(generators): use SequenctialReducer per default
  src/sudoq/generators/generators.py
Due: none

feat(generation): implement GenericReducer
  src/sudoq/generators/reducers.py
Due: none

Squashed commit of the following:
  examples/benchmark.py
  examples/generation.py
  scripts/update_documentation.py
  src/sudoq/__init__.py
  src/sudoq/core.py
  src/sudoq/grid.py
  src/sudoq/solvers/solvers.py
  src/sudoq/unit.py
  tests/assets/hex-samples/solved-1.txt
  tests/context.py
  tests/test_constructors.py
  tests/test_generation.py
  tests/test_retrieval.py
  tests/test_solving.py
  tests/test_validation.py
Due: check-performance

Path conditions:
  validate-puzzles: any of: tests/.*\.csv$
  check-performance: any of: src/sudoq/solvers/.*\.py$
  sync-versions: any of: pyproject\.toml
